.account{
    display:flex;
    flex-direction: column;
}
.account-header{
    font-size: 32px;
    font-weight: normal;
    color:rgb(102, 102, 102);
}
.account-info-container{
    background-color: white;
    padding:20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.account-info-section{

}
.private-event{
    background-color: white;
    padding:10px 0;
    margin-bottom: 10px;
}
.account-event-request-section{

    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    box-sizing: border-box;
}
.private-event-footer{
    color:gray;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}
.account-order-history-container{
    margin: 10px 0;
    border:20px solid white;
    background-color: white;
    max-height: 80vh;
    overflow-y: auto;
}
.account-order-history-container > .page-loading{
    max-width: 300px!important;
    max-height: 300px!important;
}
