.refund-textarea{
    height:100%;
    min-height: 200px;
    min-width: 300px;
    width:100%;
    box-sizing: border-box;
    color:rgb(102, 102, 102);
}
.popup-inner-complete{
    padding:40px;
    font-size: 24px;
}
