.order-header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.show-order-history-btn-container{
    width:250px;
    margin:0 auto;
}
.margin-left-30{
    margin-left: 30px;
}
.padding-10{
    padding:10px
}
.order-btn{
    padding:10px 20px;
    margin:10px 0;
}
.refund-footer{
    color:gray;
    font-size: 12px;
}
