.order-container{
    padding:20px 40px;
}

.order-header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.order-body{
    display:flex;
    flex-wrap: wrap;
    flex:1;
}
.order-body > div{
    flex:1;
    /* border: 2px solid black; */
    margin: 5px 20px;
}
.show-order-history-btn-container{
    width:250px;
    margin:0 auto;
}
.margin-left-30{
    margin-left: 30px;
}
.padding-10{
    padding:10px
}
.order-btn{
    padding:10px 20px;
    margin:10px 0;
}
.refund-footer{
    color:gray;
    font-size: 12px;
}
