.check-in{
    height:525px;
}
.check-in-student{
    padding: 10px;
    background-color: #4bc82e;
    border-radius: 8px;
    flex: 0 0 auto;
    margin: 10px 0 10px 0;
}

.check-in-student-selected{
    padding: 10px;
    background-color: #41a62a;
    color:white;
    border-radius: 8px;
    flex: 0 0 auto;
    margin: 10px 0 10px 0;
}
.check-in-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    margin-bottom: 10px;
}
.check-in-choice-container{
    overflow-y: auto;
    height: 300px;
    margin-bottom: 10px;
}
