.footer{
    background-color: #44aa00;
    display:flex;
}
.footer-content{
    margin:0 auto;
    display: flex;
    padding: 5px 0;
}
.footer-content img{
    width: 30px;
    height: 30px;
    margin: 0 5px;
}
