.event-log-card{
    min-width: 300px;
}
.event-log{
    padding:5px;
    margin-bottom: 5px;
}
.event-log:nth-of-type(n+2){
    border-top: 2px solid rgb(204, 204, 204);
}
.write-event-logs-container{
    display: flex;
    flex-direction: column;
    flex:1;
    max-height: 300px;
    overflow-y: auto;
}
