.event-log-container{
    background-color: white;
    flex:1;
    min-width: 300px;
    padding:20px;
    box-sizing: border-box;
}
.event-log{
    padding:5px;
    border-bottom: 2px solid gray;
    margin-bottom: 5px;
}
