
.what-we-teach {
    margin-top:-7px;
    margin-bottom: -1px;
    padding: 40px 100px;
    background-color: #41a62a;
    color:white;
}
.what-we-teach-center{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}
.teach-row {
    min-height: 212px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.what-we-teach-header{
    font-size: 4rem;
    text-align: center;
}
.teach-center{
    margin:4rem 0px;
    height:24rem;
    width:24rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teach-center::before{
    z-index: 0!important;
    position: absolute;
    width:20rem;
    height:20rem;
    content: '';
    border: .35rem solid white;
    border-radius: 3.5rem;
    transform: rotate(45deg);
}
.teach-center h3{
    max-width: 10rem;
    margin-bottom: 10px;
}
.learn-more{
    z-index: 1;
    text-align: center;
}
.topic-description{
    color:black;
    padding:10px;
}
