.manage-users{
    margin: 10px 0;
    background-color: white;
    flex:1;
    max-width: 1200px;

}
.override-form{
    flex:1;
    min-width: 300px;
    padding:20px;
    box-shadow: border-box;
}
.manage-user-popup{
    overflow-y: auto;
    padding: 20px 40px;
}
.manage-users-table{
    border-collapse: collapse;
    width:100%;
}
.manage-user-table{
    width:100%;
}
.manage-users-table td{
    border: 1px solid black;
    font-size: 12px;
}
.manage-user-btn-container{
    padding-top: 20px;
    width:100%;
    display: flex;
    justify-content: space-around;
}
.back-arrow{
    max-width: 24px;
    max-height: 24px;
}
.back-container{
    padding:10px;
    font-size: 38px;
}
.admin-student-info{
    display: flex;
    flex-wrap: wrap;
    flex:1;
}
.student-form:nth-of-type(n+2){
    border-top: 2px solid rgb(204, 204, 204);
}
.manage-users-table tr:nth-child(even) td:nth-child(odd),
 .manage-users-table tr:nth-child(odd) td:nth-child(even)
{
    background-color: #e4e4e4;
}

.red-tint{
    background-color: rgba(176, 0, 0, 0.7)!important;
}
.blue-tint{
    background-color: rgba(17, 63, 224, 0.7)!important;
}
.orange-tint{
    background-color: rgba(177, 116, 25, 0.7)!important;
}
