.navbar-desktop{
    padding: 0 50px;
    display:flex;
    border-bottom: 2px solid #4bc82e;
    background-color: white;
}
.navbar-mobile{
    display:none;
}

header a {
    text-decoration: none;
    color: black;
}
.nav-item-container{
    display: flex;
    margin-left: auto;
}

.nav-bar-item{
    padding: 30px 20px;
}
.menu-logo{
    padding:10px;
    height:40px;
}
.close-nav{
    margin: 25px 15px 10px 0px;
}
.close-nav > img{
    height:18px;
    float:right;
}
@media screen and (max-width: 800px) {
    .navbar{
        padding:0px;
    }
    .navbar-desktop{
        display:none;
    }
    .navbar-mobile{
        background-color: white;
        border-bottom: 2px solid #4bc82e;
        display:block;
        display:flex;
        flex:1;
    }
    .nav-item-container{
        position:fixed;
        display:flex;
        flex-direction: column;
        z-index: 1000;
        height:100vh;
        padding:0px 5px;
        left: -180px;
        top:0px;
        background-color: #4bc82e;
    }
    .nav-item-container.open{
        transition: .7s;
        left:0px;
    }
    .nav-item-container.close{
        transition: 0s;
        left:-180px;
    }
    .nav-bar-item{
        padding:15px 20px;
    }
    .nav-logo{
        width:80px;
        height:60px;
        margin-left: calc(50% - 90px);
    }
}
