

.section-card{
    flex:1;
    min-width: 25rem;
    justify-content: flex-start!important;
}
.home-section{
    max-width:50rem;
    margin:0 auto;
    font-size: 2rem;
    color:black!important;
}

@media screen and (max-width: 420px) {
    .styled-container{
        padding: 10px 20px;
        margin-bottom: 10px;
    }

}
