.section-card{
    min-width: 300px;
    justify-content: flex-start!important;
}
.home-section{
    max-width:400px;
    margin:0 auto;
    color:black!important;
}

@media screen and (max-width: 420px) {
    .styled-container{
        display:flex;
        background-color: white;
        padding: 10px 20px;
        margin-bottom: 10px;
        border-bottom: 2px solid #b0c9ab;
    }

}
