.full-date-input > input{
    max-width: 120px;
}
.time-input > input{
    max-width: 60px;
}
.date-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date-form-btn{
    width:100%;
    margin-bottom: 20px;
}
.event-preview-event-button{
    text-align: center;
    background-color: red;
    padding: 10px;
    margin: 0 30px;
}
