.event-preview-container{
    margin-right: 10px;
    max-height: 700px;
    overflow-y: auto;
}
.event-preview-container::-webkit-scrollbar{
    display:none;
}

.event-preview-header{
    display: flex;
}

.event-preview-header h3{
    margin: 0;
}
.event-preview-header a{
    margin-top: 10px;
    padding-left: 10px;
    font-size: 12px;
}

.event-preview-event-container{
    border: 2px solid black;
    margin-bottom: 5px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}
.event-preview-date-container{
    padding:10px;
    border: 2px solid black;
}
.event-preview-date-container h4{
    margin: 0;
}
.dropdown-div{
    text-align: center;
}
