.full-date-input > input{
    max-width: 120px;
}
.time-input > input{
    max-width: 60px;
}
.date-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date-form-btn{
    width:100%;
    margin-bottom: 20px;
}
.event-preview-event-button{
    text-align: center;
    background-color: red;
    padding: 10px;
    margin: 0 30px;
}

.date-form-inner{
    display: flex;
    align-content: space-around;
}

.date-form-inner div{
    flex: 1;
}
.date-form-inner div:first-child{
    padding-right: 10px;
}

.date-form-inner div:last-child{
    padding-left: 10px;
}
