.manage-events-container{
    display:flex;
    flex:1;
    background-color: white;
    margin:10px 0;
    padding: 30px;
    align-items: stretch;
    box-sizing: border-box;
    max-width: inherit;
}
.manage-event-header-item{
    padding: 30px;
    background-color: white;
}
.manage-events-info{
    display: flex;
    flex:1;
    max-width: inherit;
}
.manage-events-main{
    display: flex;
    flex-direction: column;
    flex-grow:889;
    flex-basis: 0;
}


.manage-events-event-form{
    border-left: 2px solid black;
    padding-left: 20px;
    display:flex;
}

.manage-events-info >div{
    display: flex;
    flex-direction: column;
}
.manage-events-calander{
    max-width: inherit;
    max-height: 600px;
    flex:1;
    padding-top:20px;
}

.create-date-group-btn{
    width:100%;
    margin-top:5px;
    padding: 10px 0px;
    background: #4eb907;
    border-radius: 5px;
    border-color: #4eb907;;
}
