.manage-events-container{
    margin-top: 10px;
    display:flex;
    background-color: white;
    padding: 30px;
    align-items: stretch;
    box-sizing: border-box;
}

.manage-events-event-form{
    border-left: 2px solid black;
    padding-left: 20px;
    display:flex;
}

.manage-events-calander{
    flex:1;
    padding-top:20px;
}

.create-date-group-btn{
    width:100%;
    margin-top:5px;
    padding: 10px 0px;
    background: #4eb907;
    border-radius: 5px;
    border-color: #4eb907;;
}
