.activity-card {
    min-width: 300px;
}
.activity-card:hover{
    cursor: pointer;
}

.activity-body {
    padding-top: 10px;
    box-sizing: border-box;
}

.activity-image {
    width: 100%;
}


@media screen and (max-width: 400px) {
    .activity-image {
        max-width: calc(100vw - 40px);
    }
}
