.activity-header-text {
    padding-left: 30px;
}

.activity-title {
    margin: 0;
    padding-bottom: 10px;
}

.activity-body {
    padding: 10px 0;
    display: flex;
}

.activity-view-events {
    margin: auto;
    padding: 20px 30px;
}

.activity-view-events a {
    text-decoration: none;
}

.activity-view-events-btn {
    min-width: 150px;
    padding: 30px 20px;
    font-size: 20px;
}
.activity-image{
    width:350px;
    height:150px;
}
@media screen and (max-width: 600px) {
    .mobile-column{
        flex-direction: column;
    }
    .mobile-center-x{
        margin: 0 auto;
    }
    .mobile-center-text{
        text-align: center;
    }
    .activity-header-text{
        padding:0px;
    }
}


@media screen and (max-width: 400px) {
    .activity-image {
        display: none;
    }
}
