.activity-container{
    padding: 20px 40px;
    border-bottom: 2px solid #b0c9ab;
    background-color: white;
    margin: 10px 0;
}
.activity-header{
    display: flex;
}
.activity-header-text{
    padding-left: 30px;
    flex:1;
}
.activity-title{
    margin: 0;
    padding-bottom: 10px;
}
.activity-body{
    padding: 10px 0;
    display:flex;
}
.activity-view-events{
    margin: auto;
    padding: 20px 30px;
}
.activity-view-events-btn{
    min-width: 150px;
    padding: 30px 20px;
    font-size: 20px;
}
