.student-preview-container{
    padding: 40px;
    margin: 0 20px;
    background-color: #41a62a;
    border-radius: 8px;
    flex: 0 0 auto;
}

.selected-student-preview-container{
    padding: 40px;
    margin: 0 20px;
    background-color: green;
    color:white;
    border-radius: 8px;
    flex: 0 0 auto;
}
