.student-preview-container{
    padding: 4rem;
    margin: 0 2rem;
    background-color: #41a62a;
    border-radius: 8px;
    flex: 0 0 auto;
    font-size: 2rem;
}

.selected-student-preview-container{
    padding: 4rem;
    margin: 0 2rem;
    background-color: #317f1f;
    color:white;
    border-radius: 8px;
    flex: 0 0 auto;
    font-size: 2rem;
}
