.payment-overview-popup{
    width:auto !important;
}

.payment-overview-popup *::placeholder{
    font-family: 'Source Code Pro', monospace;
    color: '#aab7c4';
}
.submit-payment-btn{
    padding: 13px 40px;
    margin-top: 20px;
    width:226px;
}
.payment-container{
    padding:20px 40px;
}
.payment-input-container{
    width:100%;
}
.payment-container h1{
    text-align: center;
    margin:0px;
}
.edge-margin:first-child{
    margin-right: 5px;
}

.edge-margin:last-child{
    margin-left: 5px;
}
.continue-to-payment-btn{
    font-size: 24px;
    padding: 30px 40px;
    margin: 0 auto;
    margin-top: 10px;
}
