.payment-overview-popup{
    width:auto !important;
    padding:0!important;
    border:0!important;
}

.payment-container{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
}
.payment-container a{
    text-decoration: none;
}
.payment-overview-popup *::placeholder{
    font-family: 'Source Code Pro', monospace;
    color: '#aab7c4';
}
.submit-payment-btn{
    background: green;
    padding: 13px 40px;
    margin-top: 20px;
    width:226px;
}

.edge-margin:first-child{
    margin-right: 5px;
}

.edge-margin:last-child{
    margin-left: 5px;
}
.continue-to-payment-btn{
    font-size: 24px;
    padding: 30px 40px;
    margin: 0 auto;
    margin-top: 10px;
}
.hidden{
    display: none;
}
.loading-icon{
    width: 100%;
    height:100%;
}
.card-number-container{
    width: calc(77% - 5px);
}
.cvc-container{
    width: calc(23% - 5px);
}

.hidden-payment-loading{
    display:none;
}
.payment-loading{
    z-index: 1000;
    position:absolute;
    background-color: white;
    width:calc(100% - 80px);
    height:calc(100% - 80px);
}
