.payment-overview-popup{
    width:40% !important;
}

.payment-container{
    padding:20px 40px;
}
.edge-margin:first-child{
    margin-right: 5px;
}

.edge-margin:last-child{
    margin-left: 5px;
}
