.main{
    flex:1;
    display: flex;
    justify-content: center;
}
.main-contents{
    max-width: 1200px;
    flex:1;
}

@media screen and (max-width: 1200px) {
    .main-contents{
        max-width: 100vw;
        display: flex;
        flex:1;
    }
    .fit-parent{
        max-width: inherit;
    }
}
