.manage-students-container{
    flex:1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.event-month{
    display: flex;
    flex-direction: column;
}
.event-month-date-container{
    border: 2px solid black;
    padding:10px;
    margin:10px;
    flex: 1;
}
.event-month-date-container h4{

}
.event-mont-date-body{
    display: flex;
    flex-direction: column;
    min-width: 120px;
    text-align: center;
}
