.manage-students-container{
    display: flex;
    flex-direction: column;
}
.event-month{
    display: flex;
    flex-direction: column;
}
.event-month-date-container{
    border: 2px solid black;
    padding:10px;
    margin:10px;
    flex: 1;
}
.event-mont-date-body{
    display: flex;
    flex-direction: column;
    min-width: 120px;
    text-align: center;
}
.event-months{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:20px;
}
.manage-students-event-logs-container{
    padding:20px;
    min-width: 200px;
    max-width: 800px;
}
.manage-students-instructor{
    font-size: 20px;
}
/*  event-log can be found in EventLogs.css*/
