.event-contaier{
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    margin-bottom: 15px;
    padding:0 30px;
}
.event-contaier a {
    text-decoration: none;
    color: black;
}
.event-contaier h3{
    margin-bottom: 0;
    text-align: center;
}
.event-contaier > div{
    padding: 20px 30px;
    flex: 0 1 auto;
}
.event-dates{

}
.event-dates ul{
    margin-top: 0;
    list-style: none;
}
.event-register-container{
    margin:auto;
}
.event-capacity{
    text-align: center;
}
.event-register{
    margin: auto;
    background-color: #cfe9ca;
    padding: 40px 20px !important;
}
.event-register-btn{
    padding: 20px 20px;
    font-size: 20px;
    background-color: #41a62a;
    color: white;
}
.event-register-price{
    padding-bottom: 40px;
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
}
