.event-card{
    min-width: 275px;
}
.event-btn-container{
    min-width: 200px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 4px;
}
.event-body-container{
    display: flex;
    flex:1;
    justify-content: center;
    flex-wrap: wrap;
}
.event-register-header{
    margin-bottom:10px;
    margin-top: 0px;
}
.event-register-price{
    font-size: 32px;
}
.event-register-seats{
    position: relative;
    top: -4px;
    font-size: 20px;
}
.event-btn-container > a{
    box-sizing: border-box;
    display:inline-block;
    width:100%;
}
.query-event-date-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.query-event-date-container > * {
    padding:10px;
}
.query-event-addon-container{
    display:flex;
    flex-direction: column;
    border:2px solid black;
    max-width: 150px;
    text-align:center;
    padding:10px;
    margin:0 10px;
    flex: 0 0 auto;
}
.query-full-event{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:40px;
}
