.event-register{
    margin: auto;
    background-color: #cfe9ca;
    padding: 20px !important;
}
.event-btn-container{
    min-width: 200px;

}
.event-register-header{
    margin-bottom:10px;
    margin-top: 0px;
}
.event-register-price{
    font-size: 32px;
}
.event-register-seats{
    font-size: 20px;
}
.event-btn-container > a{
    box-sizing: border-box;
    display:inline-block;
    width:100%;
}
.event-register-btn{
    padding: 20px;
    font-size: 20px;
    background-color: #4bc82e;
    color: white;
    transition-duration: .1s;
}

.event-register-btn:hover{
    background-color: #41a62a;
}
.query-event-date-container{
    display:flex;
    justify-content: space-between;
}
.query-event-addon-container{
    display:flex;
    flex-direction: column;
    border:2px solid black;
    max-width: 150px;
    text-align:center;
    padding:10px;
    margin:0 10px;
    flex: 0 0 auto;
}
