.student-select-header{
    max-width: 100%;
    font-size: 2rem;
}
.student-select-inner{
    display: flex;
    flex:1;
    max-width: 100%;
}
.student-select-left{
    width:calc(100% - 17rem);
    flex:1;
}
.students-container{
    flex:1;
    display: flex;
    overflow-x: auto;
}
.create-student-container h1{
    margin: 0;
    text-align: center;
}
.selected-student{
    padding-left: 15px;
    padding-top: 10px;
}
.create-student-container{
    padding:40px;
}
.dob-label{
    flex:1;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.waiver-found{
    color:green;
    font-size: 2rem;
}
.waiver-needed{
    color:red;
    font-size: 2rem;
}
.student-waiver-header{
    margin-bottom: 0px;
    font-size: 2rem
}
.student-waiver-display{
    max-width: 100%;
    padding-left: 5px;
    box-sizing:border-box;
    max-height: 17.5rem;
    display:flex;
    flex-direction: column;
}

.stuednt-waiver-status-container{
    overflow-y: auto;
}
