.student-select-inner{
    display: flex;
    flex:1;
    justify-content: space-between;
}
.students-container{
    display: flex;
    flex:1;
    overflow-x: auto;
}
.create-student-container h1{
    margin: 0;
    text-align: center;
}
.selected-student{
    padding-left: 15px;
    padding-top: 10px;
}
.create-student-container{
    padding:40px;
}
.dob-label{
    flex:1;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.waiver-found{
    color:green;
}
.waiver-needed{
    color:red;
}
