.login-container{
    margin: auto;
    padding: 4rem;
    background-color:white;
    width: 60rem;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.login-headers{
    display: flex;
    justify-content: center;
}
.login-headers img{
    min-height:7rem;
}
.login-form{
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
}

.hacky-submit-button{
    visibility: hidden;
    position: absolute;
}
.sign-up-link{
    font-size: 2rem;
}
