.login-container{
    margin: auto;
    padding: 40px;
    background-color:white;
    width: 515px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.login-headers{
    display: flex;
    justify-content: center;
}
.login-form{
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
}

.hacky-submit-button{
    visibility: hidden;
    position: absolute;
}
@media screen and (max-width: 515px) {
    .login-container{
        width: 100%!important;
        padding:20px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 600px) {
    .login-container{
        min-height: 400px;
    }
}
