.i-am-container{
    flex:1;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.i-am-btn-container{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.i-am-btn{
    padding:40px 100px;
    background-color: #44aa00;
    text-align: center;
    transition: background-color .3s;
}

.i-am-btn:hover{
    background-color: #368e22;
}
.small-input{
    width: calc(50% - 5px);
}

.terms-of-service-container{
    max-height: 90vh;
    overflow-y: scroll;
}
