.addon-container {
    display:flex;
    flex-direction: column;
    background-color: #41a62a;
    max-width: 20rem;
    text-align:center;
    padding:1rem 2rem;
    margin:0 1rem;
    border-radius: 2rem;
    flex: 0 0 auto;
}

.addon-container-selected{
    color:white;
    background-color: #317f1f;
    display:flex;
    flex-direction: column;
    max-width: 20rem;
    text-align:center;
    padding:1rem 2rem;
    margin:0 1rem;
    border-radius: 2rem;
    flex: 0 0 auto;
}

.addon-container-description{
    flex:1;
}
.registration-addons-container{
    display: flex;
    overflow-x: auto;
    overflow-y:hidden;
}

.addon-select-filler{
    min-height: 5rem;
}
