.registration-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:10px 0;
    box-sizing: border-box;
}

.registration-container > div{
    background-color: white;
    padding:20px 40px;

}

.registration-info-container{
    display:flex;
    width:100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.registration-info-section{
    flex:1;
    flex-shrink: 0;
    max-width: 50%;
    box-sizing: border-box;
}

.registration-info-tables-container{
    display:flex;
}

.registration-section{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:20px 40px;
    border-bottom: 2px solid gray;
}

.registration-form-event-info{
        display:flex;
}
.registration-dates-table{
    margin-left: 10px;
}
.registration-addons-container{
    display: flex;
    overflow-x: auto;
    padding: 20px 10px;
}

.continue-to-payment-btn{
    font-size: 24px;
    padding: 30px 40px;
    margin: 0 auto;
    margin-top: 10px;
}
