.month-container{

}
.month-header{
    text-align: center;
    margin: 0px 100px;
    border-bottom: 2px solid gray;
}
.month-body{
    margin: 0px 100px;
    display:flex;
    flex-wrap: wrap;
}
.event-month-container{
    min-width: 180px;
    margin: 10px;
    text-align: center;
    padding: 20px;
    display:flex;
    flex-direction: column;
    border: 2px solid black;
}
