/* Location */
.location{
    text-align: center;
    flex:1;
}

.grid-view-row{
    display:flex;
    flex-wrap: wrap;
    flex:1;
}
.grid-filler{
    flex:1;
}
@media screen and (max-width: 450px) {
    .maps-container{
        display: none;
    }
}
.archive-options-container{
    display: flex;
    justify-content: center;
    background-color: white;
    padding:5px;
}
.archive-option-btn{
    width:60px;
    padding: 10px;
    background-color: #41a62a;
    color: white;
}
.selected-archive-option-btn{
    background-color: #348e20!important;
}

.archive-option-btn:first-child{
    border-right: 2px solid white;
    border-radius: 10px 0 0 10px;

}
.archive-option-btn:last-child{
    border-left: 2px solid white;
    border-radius: 0 10px 10px 0;
}
