/* Location */
.location{
    text-align: center;
    flex:1;
}

.grid-view-row{
    display:flex;
    flex-wrap: wrap;
    width:100%;
}

.grid-view-row > *{
    margin: 15px;
}

.filler{
    background-color: inherit!important;
    box-shadow: none!important;
    border-color: transparent!important;
}

.archive-options-container{
    display: flex;
    justify-content: center;
    padding:5px;
}
.archive-option-btn{
    width:60px;
    padding: 10px;
    background-color: #41a62a;
    color: white;
}
.selected-archive-option-btn{
    background-color: #317f1f!important;
}

.archive-option-btn:first-child{
    margin-right: 2px;
    border-radius: 10px 0 0 10px;

}
.archive-option-btn:last-child{
    margin-left: 2px;
    border-radius: 0 10px 10px 0;
}
.time-range-selector{
    display:flex;
    justify-content: center;
    line-height: 33px;
}
.time-range-month{
    width:40px;
    display: block;
    box-sizing: border-box;
    padding: .5rem .75rem;
    color: #1a2e34;
    background-color: #fff;
    border: 1px solid #cdd6e4;
    border-radius: .1875rem;
    box-shadow: none;
    background-clip: padding-box;
}
.time-range-time input{
    width:200px;
    display: block;
    box-sizing: border-box;
    padding: .5rem .75rem;
    color: #1a2e34;
    background-color: #fff;
    border: 1px solid #cdd6e4;
    border-radius: .1875rem;
    box-shadow: none;
    background-clip: padding-box;
}
