/* Location */
.location{
    text-align: center;
}

.grid-view-row{
    display:flex;
    flex-wrap: wrap;
    flex:1;
}
.grid-filler{
    flex:1 1 auto;
}
@media screen and (max-width: 450px) {
    .maps-container{
        display: none;
    }
}
