.welcome-one{
    background-image: url("../../../logos/one.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -999;
    height: calc(100vh - 80.5px);
    display:flex;
    transition: 1s;
    background-position: center;
}
.welcome-two{
    background-image: url("../../../logos/two.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -999;
    height: calc(100vh - 80.5px);
    display:flex;
    transition: 1s;
    background-position: center;
}
.welcome-three{
    background-image: url("../../../logos/three.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -999;
    height: calc(100vh - 80.5px);
    display:flex;
    transition: 1s;
    background-position: center;
}


.welcome-text{
    font-size: 2rem;
    margin:0px;
    color:white;
    animation: fadein 1s;
}

.hero-link-container{
    margin-top:1rem;
    display:flex;
    justify-content: space-around;
    animation: fadein 2s;
}

.hero-link{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    color:white;
    border: 2px solid white;
    border-radius: 5px;
    padding:10px;
}

.hero-link a{
    color:white;
    text-decoration: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1;}
}

@media screen and (max-width: 370px) {
    .welcome-text{
        font-size: 1.8rem;
    }
    .hero-link{
        font-size: 1.2rem;
    }
}
