body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(241, 241, 241);
}
.container{
    display:flex;
    flex-wrap: wrap;
}

.styled-container{
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px 40px;
    margin-bottom: 10px;
    border-bottom: 2px solid #4bc82e;
}
.no-margin{
    margin:0;
}

.section{
    flex:1;
}
.center-text{
    text-align: center;
}
.center-y{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.center-x{
    margin:0 auto;
}
.default-link{
    text-decoration: none;
    color: black;
}
.no-wrap-row{
    white-space: nowrap;
}

.margin-bottom-10{
    margin: 0 0 10px 0;
}
.margin-top-40{
    margin: 40px 0 0 0;
}
.margin-top-10{
    margin: 10px 0 0 0;
}
.styled-input{
    display: block;
    width:100%;
    box-sizing: border-box;
    padding: .65rem 1rem;
    font-size: 24px;
    line-height: 1.25;
    color: #1a2e34;
    background-color: #fff;
    border: 1px solid #cdd6e4;
    border-radius: .1875rem;
    box-shadow: none;
    background-clip: padding-box;
}
.alert-logo{
    width:4px;
    height: 20px;
}

.gray{
    color:gray;
}
.test-input{
    width:1200px;
    height:400px;
}
.styled-textarea {
    flex: 1;
    min-height: 40px;
    word-wrap: break-word;
    border: 1px solid rgb(214, 214, 214);
    color: gray;
}
