.no-style-button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.manage-activity-form{
    max-width: 400px;
}

.archive-txt{
    font-weight: 200;
    font-size: 14px;
}
