.student-waiver-container{
    padding: 4rem;
    background-color:white;
    width: 60rem;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 2rem;
}
.view-student-waiver-container{
    background-color: white;
    box-sizing: border-box;
    flex:1;
}
.student-waiver-other{
    width:100%;
    box-sizing: border-box;
    height:9rem
}
@media screen and (max-width: 515px) {
    .student-waiver-container{
        width: 100%!important;
    }
}
