.recent-events-container {
    width: 100%;
}

.recent-event-days-container{
    overflow-y: auto;
}
.recent-event-btn {
    padding: 10px!important;
}

.recent-event-day-container {
    margin: 20px;
    overflow-y: auto;
}
.recent-event-student-conatiner {
    padding: 5px;
    border: 2px solid gray;
}
